@model FileManager_MP.Models.FileDirectory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
    <link href="~/styles/StyleSheet.css" rel="stylesheet" />
}

<h2>File Manager</h2>
<div class="container">
    <form method="post" action="/Account/Create">
        <div class="imgcontainer">
            @*<img src="img_avatar2.png" alt="Avatar" class="avatar">*@
        </div>

        <div class="container">
            <label><b>Path</b></label>
            <input type="text" placeholder="C:\123" name="Path" value="Open" required>
            <button type="submit" value="Open" name="open">Open</button>

        </div>
    </form>

</div>
<div class="btn-group">
    <form method="post" action="/Account/Create">
        <div class="container">
            <label><b>Input created file</b></label>
            <input type="text" placeholder="C:\123\text.txt" name="Path" required>
            <button type="submit">Open</button>
        </div>
        <button>Create file</button>
    </form>
    <form method="post" >
        <button>Delete file</button>
    </form>
</div>
<form method="post">
    <button>Change user rights</button>
</form>
<h2>@if (Model != null)
    {
        @Model.Message;

    }
</h2>

<div>
    <ul>
        @if (Model != null)
        {
            foreach (var file in Model?.Files)
            {
                <li>@file</li>
            }
            foreach (var directory in Model?.Directories)
            {
                <li>@directory</li>
            }
        }
        else
        {
            <text>Wrong directory</text>
        }

    </ul>
</div>

@*class="agile-field-txt"*@
@*<div>
    <form method="post" action="">
        <div class="container">
            <input name="Path" required="/Account/Create" />
        </div>
        <div>
            <input type="submit" value="Open">
        </div>
    </form>
    <div>
        <input type="submit" value="Open">
    </div>
</div>
<div>
    <ul>
        @if (Model != null)
        {
            foreach (var file in Model?.Files)
            {
                <li>@file</li>
            }
            foreach (var directory in Model?.Directories)
            {
                <li>@directory</li>
            }
        }
        else
        {
            <text>Wrong directory</text>
        }

    </ul> 
</div>*@

<div align="right">
    @Html.ActionLink("Back to login","Login")
</div>



