@model FileManager_MP.Models.FileDirectory

@{
    ViewBag.Title = "File Manager";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div id="userHeader"></div>
<form method="post" action="/Account/UserView">
    <div id="userForm"></div>
    <div class="listcontainer">
        <ul>

            @if (Model?.Files != null)
            {
                foreach (var file in Model?.Files)
                {
                    <li>@file</li>
                }
            }
            @if (Model?.Directories != null)
            {
                foreach (var directory in Model?.Directories)
                {
                    <li>@directory</li>
                }
            }
            @if (Model != null)
            {
                <div class="container">
                    <h2 class="txt-center-error">@Model.Message</h2>
                </div>
            }

        </ul>
    </div>
    <div class="container" @*style="background-color:#f1f1f1"*@>
        <button type="button" class="cancelbtn" act onclick="location.href = '@Url.Action("Login", "Account")'">Cancel</button>
    </div>
</form>


<script src='@Url.Content("~/Scripts/UserView.jsx")'></script>


